img {
    width: 800px;
    height: 600px;
    border-color: #AA00FF;
    border-width: 4px;
    padding: 10px;
    border-style: solid;


}

body {
    text-align: center;
    background-repeat: no-repeat;
    height: 600px;
}

p {
    font-size: 20px;
    color: plum;
}

#odd {
    background: linear-gradient(purple 0%, darkblue 100%);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 800px;
    width: 100%;
    position: absolute;
    padding-top: 75px;
    padding-left: 2px;
    color: black;
    z-index: 9;
}

.pretty {
    position: absolute;
    list-style: none;
    top: 10;
    left: 40;
    z-index: 10;
    cursor: pointer;
}

.savage {
    float: left;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 25px;
}

.savage:hover {
    background-color: paleturquoise;
    font-family:'Dawning of a New Day', cursive;
}
